 {% extends "rent/base.html" %}

 {% block title %}
 Help Your Peer 
 {% endblock %}

{% block customized_static %}
    {% load static %}
        <link rel="stylesheet" type="text/css" href="../../static/rent/css/style.css">
        <link rel="stylesheet" type="text/css" href="../../static/rent/css/myoffers.css">
        <link rel="stylesheet" type="text/css" href="../../static/rent/css/elements.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
        <script type="text/javascript" src="../../static/rent/js/helpout.js"></script>
{% endblock %}

{% block bodycontent %}
        
        <section class="main-container container">
            <input type="hidden" name="" value="{{request_item.id}}">
            <div class="h1 center margin-between-element">Could you help your peers out?</div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <div class="gray-border">
                        <div class="main-container">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                                {% if request_item.picture %}
                                <img class="col-lg-6 col-md-6 col-sm-6 col-xs-6" src="{% url 'get_item_photo' request_item.id %}">
                                {% else %}
                                <img class="col-lg-6 col-md-6 col-sm-6 col-xs-6" src="../../static/rent/image/camera.jpg">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
                                {% endif %}
                            </div>
                            <div class="h2 center margin-between-element">{{request_item.name}}</div>
                            <div class="margin-between-element">{{request_item.description}} </div>
                            <div class="row margin-between-element">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 h3">Duration</div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">{{request_item.need_from}} - {{request_item.need_to}}</div>
                            </div>
                            <div class="row margin-between-element">
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 h3">Reward</div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">{{request_item.reward}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="gray-border">
                        <div class="mcontainer">
                            <div class="h4 row margin-between-element">
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">Requester</div></div>
                            <div class="row margin-between-element">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                                {% if request_item.borrow.picture %}
                                <img class="col-lg-8 col-md-8 col-sm-8 col-xs-8" src="{% url 'userpicture' request_item.borrower.id %}">
                                {% else %}
                                <img class="col-lg-8 col-md-8 col-sm-8 col-xs-8" src="../../static/rent/image/joy.jpg">
                                {% endif %}
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                            </div>
                            <div class="body center margin-between-element"><a href="{% url 'profile' request_item.borrower.id %}">{{request_item.borrower.first_name}}</a></div>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                                <div class="rating center col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                                    <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                                    <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                                    <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                                    <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                            </div>
                        </div>
                    </div>
                </div><div class="clear"></div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <div class="center margin-between-element main-container">
                        <div class="row"></div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                        <button class="btn btn-primary btn-primary-blue col-md-3 col-lg-3 col-xm-3 col-sm-3">Not This Time</button>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                        <button class="btn btn-primary btn-primary-blue col-md-3 col-lg-3 col-xm-3 col-sm-3" data-toggle="modal" data-target="#myOffer">I Can Help</button>
                        
                        <!-- Modal #I Can Help-->
                        <!-- If ajax succeeds, append content then -->
                        <div id="ICanHelp-Modal" class="modal fade" role="dialog">
                            
                        </div>

                        
                         <!-- Modal #Go to My Offers-->
                        <div id="myOffer" class="modal fade" role="dialog">
                            <div class="vertical-alignment-helper">
                                <div class="modal-dialog vertical-align-center">
                                
                                    <!-- Modal Content-->
                                    <div class="modal-content container">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <div class="h4 modal-title">Which item would you lend to the requester?</div>
                                        </div>
                                        <div class="row margin-between-element">
                                            <div class="modal-body main-container">
                                                <div class="row margin-between-element">
                                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 center">
                                                        <p>Choose one item from My Item list</p><div class="clear"></div>
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                                        <div class="dropdown col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                                            <!--<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>-->
                                                            <button class="btn btn-secondary btn-secondary-gray dropdown-toggle col-lg-12 col-md-12 col-sm-12" type="button" data-toggle="dropdown" id="dropdown-btn">Race Bike<span class="caret"></span></button>
                                                            <ul class="dropdown-menu col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <!-- list of things you can offer -->
                                                            {% for j in my_items %}
                                                                <li><a href="#">{{j.name}}</a><input type="hidden" name="" value="{{j.id}}"></li>
                                                            {% endfor %}
                                                            </ul>
                                                        </div><div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                                    </div>
                                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                                </div>
                                                <div class="row margin-between-element">
                                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                                        <p>Or</p>
                                                    </div>
                                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                                </div>
                                                <div class="row margin-between-element">
                                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                                        <p>This is the first time you lend this item?</p>
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                                        <form method="GET" action="{% url 'add_new' %}">
                                                        <input type="hidden" name="requestid" value="{{request_item.id}}">
                                                        <button type="submit" class="btn btn-secondary btn-secondary-green col-md-10">Add New Item</button>
                                                        </form>
                                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                                    </div>
                                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer row margin-between-element">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
                                            <button type="button" class="btn btn-primary btn-primary-blue col-lg-4 col-md-4 col-sm-4 col-xs-4"  data-dismiss="modal" data-toggle="modal" data-target="#ICanHelp-Modal" id="submit-offer">Confirm</button>
                                             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}  