{%extends "rent/base.html" %}

{% block bodycontent %}
        
        <section class="main-container">
            <div class="">
                <form method="GET" action="{% url 'search' %}">
                <div class="row" id="search">
                    <div class="col-xs-9 col-xs-9 col-sm-9 col-md-9" id="searchbar-container">
                        <input type="text" id="searchbar" name="searchbar" placeholder="  Search item"/>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3 clickable" id="search-btn-container">
                        <button type="submit" class="clickable btn btn-primary" id="search-btn">
                            Search
                        </button>
                    </div>
                </div>
                </form>
            </div>
            
            
        </section>
        
        <section class="main-container">
            <div class="h2">
                Popular Items You May Be Interested In 
            </div>
			<div class="container">
				<div class="row">

				    <div class="col-md-3">
				        <ul class="categories">
				            <li>Outdoor</li>
				            
				        </ul>
			            <div class="thumbnails">
    				        <a href="">  
    				      	    <img src="./image/houseproxy/BG.png" alt="...">
    			            </a>
    			            <div class="">
    				            <div class="h3">Bike</div>
    				            <div class="caption2">Money</div>
    			            </div>
				        </div>
			        </div>
				  

			        <div class="col-md-3">
			            <ul class="categories">
				            <li>Outdoor</li>
				            
				        </ul>
			            <div class="thumbnails">
    				        <a href="">  
    				      	    <img src="./image/houseproxy/BG.png" alt="...">
    			            </a>
    			            <div class="">
    				            <div class="h3">Bike</div>
    				            <div class="caption2">Money</div>
    			            </div>
				        </div>
			        </div>
			        
			        <div class="col-md-3">
			            <ul class="categories">
				            <li>Outdoor</li>
				            
				        </ul>
			            <div class="thumbnails">
    				        <a href="">  
    				      	    <img src="./image/houseproxy/BG.png" alt="...">
    			            </a>
    			            <div class="">
    				            <div class="h3">Bike</div>
    				            <div class="caption2">Money</div>
    			            </div>
				        </div>
			        </div>
				  

			        <div class="col-md-3">
			            <ul class="categories">
				            <li>Outdoor</li>
				            
				        </ul>
			            <div class="thumbnails">
    				        <a href="">  
    				      	    <img src="./image/houseproxy/BG.png" alt="...">
    			            </a>
    			            <div class="">
    				            <div class="h3">Bike</div>
    				            <div class="caption2">Money</div>
    			            </div>
				        </div>
			        </div>

			    

				</div>
			</div>
		</section>
		
		<section class="main-container">
            <div class="h2">
                Items You Might Be Able to Lend 
            </div>
			<div class="container">
				<div class="row">

				    <div class="col-md-3">
		
			            <div class="thumbnails">
    				        <a href="">  
    				      	    <img src="./image/houseproxy/BG.png" alt="...">
    			            </a>
    			            <div class="">
    				            <div class="h3">Bike</div>
    				            <div class="caption2">Money</div>
    			            </div>
				        </div>
			        </div>
				  

			        <div class="col-md-3">
			           
			            <div class="thumbnails">
    				        <a href="">  
    				      	    <img src="./image/houseproxy/BG.png" alt="...">
    			            </a>
    			            <div class="">
    				            <div class="h3">Bike</div>
    				            <div class="caption2">Money</div>
    			            </div>
				        </div>
			        </div>
			        
			        <div class="col-md-3">
			           
			            <div class="thumbnails">
    				        <a href="">  
    				      	    <img src="./image/houseproxy/BG.png" alt="...">
    			            </a>
    			            <div class="">
    				            <div class="h3">Bike</div>
    				            <div class="caption2">Money</div>
    			            </div>
				        </div>
			        </div>
				  

			        <div class="col-md-3">
			          
			            <div class="thumbnails">
    				        <a href="">  
    				      	    <img src="./image/houseproxy/BG.png" alt="...">
    			            </a>
    			            <div class="">
    				            <div class="h3">Bike</div>
    				            <div class="caption2">Money</div>
    			            </div>
				        </div>
			        </div>

			    

				</div>
			</div>
		</section>
		
{% endblock %}