{% extends "rent/base.html" %}

{% block pagetitle %}My Requests{% endblock %}

{% block customized_static %}
{% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'rent/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="../../static/rent/css/myoffers.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
        <script type="text/javascript" src="../../static/rent/js/my_request.js"></script>
{% endblock %}

{% block bodycontent %}
        <div class="main-container">
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-md-9">
                    
                    <div class="content-container">
                        <div class="row" id="search">
                            <div class="h1 col-md-12">
                                My Requests({{count}})
                            </div>
                        </div>
                        <div class="margin-below-title"></div>
                        {% for i in items %}
                        <div class="" id="items-container">
                            <div class="an-request gray-border">
                                <div class="h2">
                                    You requested: {{i.name}}
                                </div>
                                <div class="body">
                                    {{i.description}}
                                </div>
                                <div class="row margin-in-section margin-section">
                                    <div class="col-xxs col-xs-4 col-sm-3 col-md-2 col-lg-2">
                                        <div class="h3 incoming-sub-title">
                                            Status
                                        </div>
                                    
                                    </div>
                                    <div class="col-xxs col-xs-8 col-sm-9 col-md-10 col-lg-10">
                                        <div class="body incoming-sub-title">
                                            {% if i.no_response %}
                                            <p>no response yet, but be patient, someone will surely come along!</p>
                                            {% else %}
                                            <p>Your request got {{i.responses.count}} responses. Contact them to complete the request.</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row margin-in-section ">
                                    <div class="col-xxs col-xs-4 col-sm-3 col-md-2 col-lg-2">
                                        <div class="h3 incoming-reward">
                                            Reward
                                        </div>
                                    </div>
                                    <div class="col-xxs col-xs-8 col-sm-9 col-md-10 col-lg-10">
                                        <div class="body">
                                            {{i.reward}}
                                        </div>
                                        
                                    </div>
                                </div>
                                <hr>
                                
                                <div class="row margin-in-section response-section">
                                    <div class="col-xxs col-xs-4 col-sm-3 col-md-2 col-lg-2">
                                        <div class="h3 incoming-reward">
                                            Response ({{i.responses.count}})
                                        </div>
                                    </div>
                                    <div class="col-xxs col-xs-8 col-sm-9 col-md-10 col-lg-10">
                                        <div class="body">
                                            {% if i.no_response%}
                                            Your request has been sent. No one responses yet.
                                            {% else %}
                                            Below are your responses!
                                            {% endif %}
                                        </div>
                                        
                                    </div>
                                    <div class="slide-left"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
                                    <div class="slide-right"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                                </div>
                                
                                <div class="container-fluid">
                                    <div class="row">
                                        {% for r in i.responses %}
                                        <div class="col-sm-12 col-md-4 a-response-container">
                                           <div class="response-border a-response ">
                                               <div class="response-exit">
                                                   <i class="fa fa-times" aria-hidden="true"></i>
                                               </div>
                                               <div class="response-title">{{r.responding_item.name}}</div>
                                               <div class="response-img">
                                                   {% if r.responding_item.picture %}
                                                    <img src="{% url 'get_item_photo' r.responding_item.id %}" width="82px" height="82px">
                                                   {% else %}
                                                   <img src="../../static/rent/image/bike-whitebg.png">
                                                   {% endif %}
                                               </div>
                                               <div class="response-reward-title">
                                                   Reward
                                               </div>
                                               <div class="caption">
                                                {% if r.responding_item.reward %}
                                               the lender would like: {{ r.responding_item.reward }}
                                                {% else %}
                                                   no reward needed!
                                                {% endif %}
                                               </div>
                                               
                                               
                                               <div class="popular-item-renter popular-item-margin popular-item-response-renter">
                                                    <div class="popular-item-renter-avatar"></div>
                                                    <div class="popular-item-renter-text popular-item-renter-response-text">
                                                        <div>{{r.responding_item.lender.first_name}}</div>
                                                        <div class="popular-item-renter-text-star">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="btn btn-secondary-blue btn-response-contact">
                                                    Contact
                                                </div>
                                           </div>  
                                        </div>
                                        {% endfor %}
                                        
<!--
                                        <div class="col-sm-12 col-md-4 a-response-container">
                                           <div class="response-border a-response ">
                                               <div class="response-exit">
                                                   <i class="fa fa-times" aria-hidden="true"></i>
                                               </div>
                                               <div class="response-title">50 Inch Tropod</div>
                                               <div class="response-img">
                                                   <img src="../../static/rent/image/bike-whitebg.png">
                                               </div>
                                               <div class="response-reward-title">
                                                   Reward
                                               </div>
                                               <div class="caption">
                                                   blah blah blah
                                               </div>
                                               
                                               <div class="popular-item-renter popular-item-margin popular-item-response-renter">
                                                    <div class="popular-item-renter-avatar"></div>
                                                    <div class="popular-item-renter-text popular-item-renter-response-text">
                                                        <div>Tom</div>
                                                        <div class="popular-item-renter-text-star">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="btn btn-secondary-blue btn-response-contact">
                                                    Contact
                                                </div>
                                           </div>  
                                        </div>
                                        
                                        <div class="col-sm-12 col-md-4 a-response-container">
                                           <div class="response-border a-response ">
                                               <div class="response-exit">
                                                   <i class="fa fa-times" aria-hidden="true"></i>
                                               </div>
                                               <div class="response-title">50 Inch Tropod</div>
                                               <div class="response-img">
                                                   <img src="../../static/rent/image/bike-whitebg.png">
                                               </div>
                                               <div class="response-reward-title">
                                                   Reward
                                               </div>
                                               <div class="caption">
                                                   blah blah blah
                                               </div>
                                               
                                               <div class="popular-item-renter popular-item-margin popular-item-response-renter">
                                                    <div class="popular-item-renter-avatar"></div>
                                                    <div class="popular-item-renter-text popular-item-renter-response-text">
                                                        <div>Tom</div>
                                                        <div class="popular-item-renter-text-star">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="btn btn-secondary-blue btn-response-contact">
                                                    Contact
                                                </div>
                                           </div>  
                                        </div>

                                        <div class="col-sm-12 col-md-4 a-response-container">
                                           <div class="response-border a-response ">
                                               <div class="response-exit">
                                                   <i class="fa fa-times" aria-hidden="true"></i>
                                               </div>
                                               <div class="response-title">50 Inch Tropod</div>
                                               <div class="response-img">
                                                   <img src="../../static/rent/image/bike-whitebg.png">
                                               </div>
                                               <div class="response-reward-title">
                                                   Reward
                                               </div>
                                               <div class="caption">
                                                   blah blah blah
                                               </div>
                                               
                                               <div class="popular-item-renter popular-item-margin popular-item-response-renter">
                                                    <div class="popular-item-renter-avatar"></div>
                                                    <div class="popular-item-renter-text popular-item-renter-response-text">
                                                        <div>Tom</div>
                                                        <div class="popular-item-renter-text-star">
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                            <i class="fa fa-star" aria-hidden="true"></i>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="btn btn-secondary-blue btn-response-contact">
                                                    Contact
                                                </div>
                                           </div>  
                                        </div>
-->
                                        
                                   </div>
                                </div>
                            
                                
                                <hr id="incoming-line">
                                <div>
                                    <div class="caption-2 incoming-time">
                                        {{i.post_date}}
                                    </div>
                                    <button class="btn btn-secondary btn-secondary-blue right ">
                                        Archive
                                    </button>
                                    <div class="body inlineblock right caption-2" id="notes">
                                        Already finished this transaction? 
                                    </div> 
                                </div>
                                
                                
                                
                                
                            </div>
                            
                        </div>
                        <br>
                        {% endfor %}
                       
      
                    </div>
                    
                </div>
 
                <div class="hidden-xs col-sm-3 col-md-3" id="could-you-help-peer-container">
                    <div class="" id="help-peer-title">
                        Could you help your peers?
                    </div>

                    {% for j in help_peer %}
              
                    <form method="GET" action="{% url 'help_peer_detail' j.id %}">
                    <div class="peer-item-container">
                        {% if j.picture %}
                        <img src="{% url 'get_item_photo' j.id %}" width="82px" height="82px">
                        {% else %}
                        <img src="http://placehold.it/82x82">
                        {% endif %}
                        <div class="peer-item-name">
                            {{j.name}}
                        </div>
                        <div class="peer-item-viewdetail">
                            <button type="submit">View Detail</button>
                        </div>
                    </div>
                    </form>
                    {% endfor %}

                </div>
            </div>
        </div>
{% endblock %}