{% extends "rent/base.html" %}

{% block pagetitle %}My Requests{% endblock %}

{% block customized_static %}
{% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'rent/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="../../static/rent/css/myoffers.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
        <script type="text/javascript" src=""></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
{% endblock %}

{% block bodycontent %}
        <div class="main-container">
            <div class="row">
                <div class="col-xs-12 col-sm-9 col-md-9">
                    
                    <div class="content-container">
                        <div class="row" id="search">
                            <div class="h1 col-md-12">
                                My Requests ({{count}})
                            </div>
                        </div>
                        {% for r in items %}
                        <div class="" id="items-container">
                            <div class="an-request gray-border">
                                <div class="h2">
                                    You requested: {{r.name}}
                                </div>
                                <div class="body">
                                    {{r.description}}
                                </div>
                                <div class="row margin-in-section">
                                    <div class="col-xxs col-xs-4 col-sm-3 col-md-2 col-lg-2">
                                        <div class="h3 incoming-sub-title">
                                            Status
                                        </div>
                                    
                                    </div>
                                    <div class="col-xxs col-xs-8 col-sm-9 col-md-10 col-lg-10">
                                        <div class="body incoming-sub-title">
                                            Your request got {{r.responses.count}} responses. Contact them to complete the request.
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row margin-in-section ">
                                    <div class="col-xxs col-xs-4 col-sm-3 col-md-2 col-lg-2">
                                        <div class="h3 incoming-reward">
                                            Reward
                                        </div>
                                    </div>
                                    <div class="col-xxs col-xs-8 col-sm-9 col-md-10 col-lg-10">
                                        <div class="body">
                                            {{r.reward}}
                                        </div>
                                        
                                    </div>
                                </div>
                                <hr>
                                
                                <div class="row margin-in-section ">
                                    <div class="col-xxs col-xs-4 col-sm-3 col-md-2 col-lg-2">
                                        <div class="h3 incoming-reward">
                                            Response {{r.responses.count}}
                                        </div>
                                    </div>
                                    <div class="col-xxs col-xs-8 col-sm-9 col-md-10 col-lg-10">
                                        <div class="body">
                                            {% if r.no_response %}
                                            <p>Your request has been sent. No one responses yet.</p>
                                            {% else %}
                                            Contact your helpers 
                                            {% endif %}
                                        </div>
                                        
                                    </div>
                                </div>
                            
                                
                                <hr id="incoming-line">
                                <div>
                                    <div class="caption-2 incoming-time">
                                        {{r.post_date}}
                                    </div>
                                    <button class="btn btn-secondary btn-secondary-blue right ">
                                        Archive
                                    </button>
                                    <div class="body inlineblock right caption-2" id="notes">
                                        Already finished this transaction? 
                                    </div> 
                                </div>
                                
                            </div>
                            
                        </div>
                        {% endfor %}
                       
      
                    </div>
                    
                </div>
 
                <div class="hidden-xs col-sm-3 col-md-3" id="could-you-help-peer-container">
                    <div class="" id="help-peer-title">
                        Could you help your peers?
                    </div>
                    {% for j in help_peer %}
              
                    <form method="GET" action="{% url 'help_peer_detail' j.id %}">
                    <div class="peer-item-container">
                        {% if j.picture %}
                        <img src="{% url 'get_item_photo' j.id %}" width="82px" height="82px">
                        
                        {% else %}
                        <img src="http://placehold.it/82x82">
                        {% endif %}
                        <div class="peer-item-name">
                            {{j.name}}
                        </div>
                        <div class="peer-item-viewdetail">
                            <button type="submit">View Detail</button>
                        </div>
                    </div>
                    </form>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}