{% extends "rent/base.html" %}

{% block pagetitle %}My Offers{% endblock %}

{% block customized_static %}
{% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'rent/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="../../static/rent/css/myoffers.css">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
        <script type="text/javascript" src=""></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
{% endblock %}

{% block bodycontent %}
        <section class="main-container">
            <div class="row">
                <nav class="col-sm-3 col-md-3 col-lg-3 bs-docs-sidebar hidden-print" role="complementary">
                    <div class="subnav-list">
                        <ui>
                            <li class="subnav clickable"><a href="{% url 'incomingoffer' %}">Incoming Requests</a></li>
                            <li class="subnav clickable"><a href="{% url 'confirmedoffer' %}">Confirmed Requests</a></li>
                            <li class="subnav-chosen clickable"><a href="{% url 'myalloffer' %}">My Items</a></li>
                        </ui>
                    </div>
                </nav>
                <div class="col-sm-9 col-md-9 col-lg-9" role="main">
                    <div class="h1">My Items</div>
                    {% for i in my_items %}
                    <div class="myoffer-incoming gray-border incoming-gray-border">
                        <div class="">
                            <div class="row">
                                <div class="col-xxs col-xs-4 col-sm-3 col-md-2 col-lg-2">
                                    {% if i.picture %}
                                    <img class="image-fill" src="{% url 'get_item_photo' i.id %}">
                                    {% else %}
                                    <img src="http://placehold.it/82x82">
                                    {% endif %}
                                </div>
                                <div class="col-xxs col-xs-8 col-sm-9 col-md-10 col-lg-10">
                                    <div class="myoffer-title">
                                        <div class="h2 myoffer-title-description">
                                            {{i.name}}
                                        </div>
                                        <!--<div class="caption-2 myoffer-time">04/05/2017</div>-->
                                    </div>
                                    
                                    <div class="myoffer-description">
                                        Discription: {{i.description}}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            
                            
                            <div class="row margin-in-section">
                                <div class="col-xxs col-xs-4 col-sm-3 col-md-2 col-lg-2">
                                    <div class="h3 incoming-sub-title">
                                        Reward You Want
                                    </div>
                                
                                </div>
                                <div class="col-xxs col-xs-8 col-sm-9 col-md-10 col-lg-10">
                                    <div class="body incoming-sub-title">
                                        {{i.reward}}
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row margin-in-section ">
                                <div class="col-xxs col-xs-4 col-sm-3 col-md-2 col-lg-2">
                                    <div class="h3 incoming-reward">
                                        Availability
                                    </div>
                                </div>
                                <div class="col-xxs col-xs-8 col-sm-9 col-md-10 col-lg-10">
                                    <div class="body">
                                        Not Available: This item can not be searched. <span class="hyperlink">Change</span>
                                    </div>
        
                                </div>
                            </div>         
                        </div>  

                        <hr id="incoming-line">
                        <div>
                            <div class="caption-2 incoming-time">
                                {{i.post_date}}
                            </div>
                            <button class="btn btn-secondary btn-secondary-blue right ">
                                Archive
                            </button>
                            <div class="body inlineblock right caption-2" id="notes">
                                Already finished this transaction? 
                            </div>
                            
                            
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
            </div>
        </section>
        {% endblock %}
    
        <!--<nav id="myNavmenu" class="navmenu navmenu-default navmenu-fixed-right offcanvas" role="navigation">-->
        <!--  <a class="navmenu-brand" href="#">Brand</a>-->
        <!--  <ul class="nav navmenu-nav">-->
        <!--    <li class="active"><a href="#">Home</a></li>-->
        <!--    <li><a href="#">Link</a></li>-->
        <!--    <li><a href="#">Link</a></li>-->
        <!--  </ul>-->
        <!--</nav>-->
        <!--<div class="navbar navbar-default navbar-fixed-top">-->
        <!--  <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#myNavmenu" data-canvas="body">-->
        <!--    <span class="icon-bar"></span>-->
        <!--    <span class="icon-bar"></span>-->
        <!--    <span class="icon-bar"></span>-->
            
        <!--  </button>-->
        <!--</div>-->
    
    
        
        <!--<p>My first paragraph.</p>-->
        
        <!--<button class="btn btn-primary">-->
        <!--    Primary Button-->
        <!--</button>-->
        
        <!--<button class="btn btn-secondary">-->
        <!--    Secondary Button-->
        <!--</button>-->