<!DOCTYPE html>
<html>
    <head>
        <title>web design final</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../../static/rent/css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
        <link rel="stylesheet" href="../../static/rent/css/font-awesome-4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="glyphicon glyphicon-menu-hamburger"></span>
				</button>
				<a href="index.html" class="navbar-brand">
					<img alt="Brand" src="./image/BRAND.png">
				</a>
            </div>
            
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right" id="nav-menu">
                    <li>Offer My Item</li>
                    <li>Categories</li>
                    <li>My Offers</li>
                    <li>My Requests</li>
                    <li><i class="fa fa-search" aria-hidden="true"></i></li>
                </ul>
            </div>
        </nav>
        <div class="container">
   
          <div class="row">
            <div class="col-sm-3" id="personal_info">
                
                <div class="profile_picture">picture</div>
                <p>Name</p>
                <div class="ratings">user's ratings</div>
                
                
            </div>
            <div class="col-sm-9" id="items_and_reviews">
                <h3>person's items</h3>
                <div class="row" id="items">
                    <div class="col-sm-12">
                        
                        <div class ="row">
                            <div class="col-sm-3 item">Item one</div>
                            <div class="col-sm-3 item">Item one</div>
                            <div class="col-sm-3 item">Item one</div>
                            <div class="col-sm-3 item">Item one</div>
                        </div>
                        <div class ="row">
                            <div class="col-sm-3 item">Item one</div>
                            <div class="col-sm-3 item">Item one</div>
                            <div class="col-sm-3 item">Item one</div>
                            <div class="col-sm-3 item">Item one</div>
                        </div>
                    
                    </div>
                    
                </div>
                <h3>person's reviews</h3>
                <div class="row" id="reviews">
                    <div class="col-sm-12">where reviews would go</div>
                    
                </div>
                
            </div>

          </div>
        </div>
    
        
 
    
    </body>
</html>