* {
  font-family: "Open Sans", sans-serif;
}

body {
    box-sizing: border-box;
}
/*.button {*/
/*    border-radius: 4px;*/
/*    display: inline-block;*/
/*    font-size: 16px;*/
/*    line-height: 16px;*/
/*    padding: 13px 29.25px;*/
/*    text-decoration: none;    */
/*}*/


/* Text styles */

.h1 {
	font-size: 22px;
	font-weight: bold;
	/*text-align: center;*/
	color: #4a4a4a;
	margin-top: 0px;
}

.h2 {
	font-size: 18px;
	font-weight: bold;
	/*text-align: center;*/
	color: #4a4a4a;
	margin-top: 0px;
}

.h3 {
	font-size: 16px;
	font-weight: 600;
	color: #4a4a4a;
	margin-top: 0px;
}

#nav-menu a {
    padding: 0;
    font-size: 14px;
    color: black;

}

.subnav {
	font-size: 14px;
	color: #4a4a4a;
}

.subnav-chosen {
	font-size: 14px;
	color: #4a4a4a;
	font-weight: bold;
}

.form-text {
	font-size: 14px;
	color: #8ca2b6;
}

.body {
	font-size: 14px;
	color: #757575;
}

.body-dark {
	font-size: 14px;
	font-weight: 600;
	color: #4a4a4a;
}

.caption-2 {
	font-size: 12px;
	color: #757575;
	opacity: 0.6;
}

.caption {
	font-size: 12px;
	color: #757575;
}

.btn-primary {
    background-color: #0982FF;
    color: white;
    border: 1px solid #026FC7;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 12px;
}

.btn-secondary {
    background-color: white;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    font-size: 10px;
}

.btn-secondary-blue {
    border: 1px solid #0064ff;
    color: #0064ff;
}

.btn-secondary-red {
    border: 1px solid #fe4a49;
    color: #fe4a49;
}

.btn-secondary-green {
    border: 1px solid #23ce6b;
    color: #23ce6b;
}

.btn-secondary-gray {
    border: 1px solid #dde5ed;
    color: #dde5ed;
}

.btn-secondary-blue:hover {
    background-color: #0982FF;
    color: white;
}

.btn-secondary-green:hover {
    background-color: #23ce6b;
    color: white;
}

.btn-secondary-red:hover {
    background-color: #fe4a49;
    color: white;
}

.btn-secondary-gray:hover {
    background-color: #dde5ed;
    color: white;
}

.btn-fullwidth {
  width: 100%;
}

.right {
    float: right;
}

nav #nav-menu li{
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    cursor: pointer;
}

.navbar {
    min-height: 55px;  
    background-color: white;
}

nav #nav-user img{
    width:30px;
    
}

nav .navbar-brand img {
    width: 25px;
}

nav #nav-menu #nav-user {
    padding-top: 15px;
}

.subnav-list {
    list-style: none;
    margin-bottom: 15px;
}

.subnav-list li {
    margin-bottom: 8px;
}


.fixed {
    position: fixed;
}

.main-container {
    margin: auto;
    margin-top: 30px;
    max-width: 1200px;
}

.search-container {
    margin: auto;
    margin-top: 30px;
    max-width: 1200px;   
}

.gray-border {
    width: 100%;
	/*height: 358px;*/
	border-radius: 5px;
	border: solid 2px #dde5ed;
	padding: 2rem 2rem 2rem 2rem;
}

.verticalLine {
  border-right: solid 1px #dde5ed;
}

.nodisplay {
    display:none;
}

button {
    border: none;
    background-color: none;
}
.image-fill {
    width: 100%;
}

.clickable {
    cursor: pointer;
}

.inlineblock {
    display: inline-block;
}

.hyperlink {
    color: blue;
    text-decoration: underline;
}

@media (max-width: 480px) { 
   .col-xxs {
      display:block;
      float:none;
      width: 100%;
   }
   
   .image-fill {
        /*max-height: 120px;*/
        /*overflow: hidden; */
        max-width: 100px;
        margin: auto;
        display: block;
   }
}

@media only screen and (max-width: 768px) {   
    .main-container {
        width: 95%;
    }
    .search-container {
        width: 95%;
    }
}

@media only screen and (min-width: 768px) {
    .main-container {
        width: 95%;
    }
    .search-container {
        width: 85%;
    }
}

@media only screen and (min-width: 992px) {
    .main-container {
        width: 80%;
    }
    .search-container {
        width: 65%;
    }
    
}


/*----should move to style.css----*/
#serach-home-text {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    margin: 30px 0px 50px 0px;
}

input[type=text], select {
    width: 100%;
    padding: 6px 10px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #8ca2b6;
}

input[type=password], select {
    width: 100%;
    padding: 6px 10px;
    margin: 0px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #8ca2b6;
}

#form-description {
    border-radius: 5px;
    background-color: #fafbfc;
    border: solid 2px #dde5ed;
    width: 100%;
    resize: none;
    
    padding: 6px 10px;
    color: #8ca2b6;
}

.tabs > .nav > li {
    width: 50%;
    text-align: center;
}

.login-modal-header {
    padding-bottom: 0px;
    padding-top: 10px;
    
}

.login-modal-header .close span {
    font-size: 30px;
}

.my-tab-content {
    border: solid 2px #dde5ed;
    border-top: none;
    padding: 10px;
    background: white;

}

.my-nav-tabs {
    border-bottom: solid 2px #dde5ed;
}

.my-nav-tabs .active a {
    border: solid 2px #dde5ed !important;
    border-bottom-color: transparent !important;
}

.modal-content {
    background-image: url("../image/bg-login.png");
}

.my-modal-body {
    padding-bottom: 25px;
}

.form-group input[type=text] {
    background-color: #fafbfc;
    border: solid 1px #dde5ed;
}

.form-group input[type=password] {
    background-color: #fafbfc;
    border: solid 1px #dde5ed;
}

.form-control-label {
    font-weight: 100;
    color: #92a1b3;
}

.log-button {
    text-align: center;
    margin: auto;
    display: inherit;
    margin-top: 30px;
}
