@import 'elements.css';

.clear{
  clear:both;
}


.item_panel {
  width: 1140px;
  height: 565px;
  border-radius: 5px;
  border: solid 2px #dde5ed;
}

.profile_picture {
    width: 101px;
    height: 101px;
    background:red;
    margin:auto;
}

.item {
  background:blue;
  border:1px solid black;
}

.center {
  margin: auto;
  display: block;
  text-align: center;
  float: none;
}

.text-center{
  text-align:center;
}

.margin-between-element{
  margin-bottom: 20px;
}

.fa-star{
  color:#FFBC30;
}

.notification{
  color: #23ce6b;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; 
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

.modal-footer{
  border:none;
}

.modal-header{
  border:none;
}



#item-image {
  height: 100px;
  width: 100px;
  /*background: yellow;*/
  display: inline-block;
}

#item-image-interaction {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

#form_add_new {
  background: rgba(163, 210, 255, 0.08);
  padding: 30px;
  margin-top: 30px;
}

.form-row {
  /*margin-bottom: 30px;*/
}

.form-rewards-row {
  margin-bottom: 20px;
}

#btn-addreward {
  height: 40px;
  border-radius: 5px;
}

.form-addreward-support-text {
  margin-top: 13px;
}

#form-addreward-support-text-delete {
  font-size: 18px;
  margin-top: 10px;
}

#btn-additem {
  margin-top: 40px;
}

.home-subtitle {
  margin-bottom: 25px;
}

/*----*/
.popular-item {
  position: relative;
  margin-top: 15px;
}

.popular-item-category {
  position: relative;
  text-align: right;
  top: -30px;
  background: #a3a6bc;
  display: inline-block;
  float: right;
  margin-right: 10px;
  padding: 2px 14px;
  border-radius: 10px;
  font-size: 12px;
  color: white;
}

.popular-img-container {
  width: 100%;
  padding-bottom: 75%;
  background: yellow;
}

.popular-item-img {
  width: 100%;
  padding-bottom: 75%;
  background-color: green;
  position: relative;
  overflow: hidden;
}

.popular-item-img img{
  position: absolute;
  height: 100%;
}

.lend-item-img {
  width: 100%;
  padding-bottom: 75%;
  background-color: green;
  border: solid 1px rgba(151, 151, 151, 0.4);
  position: relative;
}

.lend-item-img img{
  position: absolute;
  height: 50%;
}

.popular-item-renter-avatar {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: gray;
  display: inline-block;
}

.popular-item-renter-text {
  display: inline-block;
  font-size: 12px;
  
}

.popular-item-renter-text-star {
  margin-top: -5px;
}

.popular-item-renter-text i {
  font-size: 10px;
}

.popular-item-detail {
  padding: 10px;
  border: solid 1px rgba(151, 151, 151, 0.4);
}

.popular-item-margin {
  margin-top: 8px;
}

#popular-item-group {
  display: inline-block;
  width: 100%;
}

#first-sbutitle {
  margin-top: 100px;
}


#lend-bike{
  background: url(../image/bike-whitebg.png) 50% 50% no-repeat;
  background-size: 50%;
}

#lend-oculus{
  background: url(../image/oculus.png) 50% 50% no-repeat;
  background-size: 50%;
}

#lend-boat{
  background: url(../image/boat.png) 50% 50% no-repeat;
  background-size: 50%;
}

#lend-csapp{
  background: url(../image/csapp.png) 50% 50% no-repeat;
  background-size: 50%;
}

.margin-section {
  margin-top: 30px;
}

.a-response-container {
  text-align: center;  
  margin-top: 20px;
}

.a-response {
  height: 300px;
  width: 160px !important;
  /*background: yellow;*/
  display: inline-block;
}

.response-img {
  margin-top: 10px;
  /*background: blue;*/
  width: 100%;
  position: relative;
  height: 87px;
}

.response-img img{
  height: 100%;
}

.response-border {
  border-radius: 8px;
  border: solid 1px #dedede;
}

.response-title {
  font-size: 14px;
  color: #757575;
  margin-top: 25px;
  color: black;
}

.response-exit {
  display: inline-block;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  color: gray;
  
}

.response-reward-title {
  margin-top: 10px;  
}

.popular-item-renter-response-text {
  text-align: left;
}

.popular-item-response-renter {
  margin-top: 10px;
}

.btn-response-contact {
  margin-top: 10px;
}

.response-section {
  position: relative;
}

.slide-left {
  position: absolute;
      top: 190px;
}

.slide-right {
  position: absolute;
      top: 190px;
    right: 5px;
}

.margin-below-title {
  margin-top: 25px;
}



.profile-avatar {
  text-align: center;
}

.profile-avatar img{
    text-align: center;
    width: 150px;
    height: 150px;
}

.star-center {
  text-align: center;
}

.my-badge {
 margin-left: 5px; 
}

.reviewer-info {
  text-align: center;
}

.reviewer-avatar img{
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.profile-info-container {
  margin-bottom: 30px;
  display: inline-block;
  vertical-align: top;
  padding-right: 30px;
}

.review-title {
      margin-bottom: 20px;
    margin-top: 20px;
}

.review-time {
  margin-top: 8px;
}

.profile-content-container {
  width: calc(100% - 190px);
  display: inline-block;
}




#landing_head_background{
    content: " ";
    display: block;
    width: 100%;
    height: 140vh;
    position: absolute;
    top:-50vh;
    left: 0;
    z-index:-2;
    transform: skewY(-4deg);
    background: #fc6076; /* Old browsers */
    background: -moz-linear-gradient(left, #fc6076 0%, #ff9a44 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #fc6076 0%,#ff9a44 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #fc6076 0%,#ff9a44 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#landing_diagram{
  height:150vh;
  position: relative;
  margin-top:20vh;
  z-index:50;
  /*why background image does not show up?whywhywhy///*/
  background: top left no-repeat url("../../static/rent/image/background.svg");
}

.process_img{
  height: 100px;
}

#process_1{
  position:absolute;
  top:10vh;
  left:50vw;
}

#process_2{
  position:absolute;
  top:60vh;
  left:10vw;
}

#process_3{
  position:absolute;
  top:110vh;
  left:50vw;
  height: 150px;
}

#process_4{
  position:absolute;
  top:160vh;
  left:10vw;
  height:120px;
}

.circle{
  position:absolute;
  top: 122px;
  left: 1135px;
  z-index: 100;
  height:25px;
  width:25px;
  display:block;
  border-radius: 50%;
  border: 2px solid #0033C9;
  animation: circle 3.2s forwards;
  animation-delay: 200ms;
}

@keyframes circle{

0% {
    top: 122px;
    right: 240px;
  }
  
100% {
    transform: translate(-900px, 400px);
  }
}


.cards{
    height:200px;
    background:#fff;
    border-radius:3px;
    -webkit-box-shadow: 0px 5px 14px 0px rgba(252,101,113,1);
    -moz-box-shadow: 0px 5px 14px 0px rgba(252,101,113,1);
    box-shadow: 0px 5px 14px 0px rgba(252,101,113,1);
}

#quote p{
  display:inline-block;
  text-align:left;
  margin:20px 10px 35px 10px;
}

#quote p.name{
  color:#FD6672;
  margin: 0;
}

#quote img{
  float:left;
  height:50px;
  margin:0 0 0 10px;
}

#quotemark{
  z-index:-2;
  position:absolute;
  left:8vw;
  margin-top:-8vh;
}

.nav-footer{
  width:100%;
  clear:both;
  margin-bottom:25px;
  display:block;
}

.nav-footer ul{
  margin:0;
  padding:0;
  overflow:hidden;
  display:block;
}

/*.nav-footer ul li{*/
/*  display:list-item;*/
/*  box-sizing:inherit;*/
/*}*/



#landing{
  position:relative;
}

#landing_head_background{
    content: " ";
    display: block;
    width: 100%;
    height: 146vh;
    position: absolute;
    top:-50vh;
    left: 0;
    z-index:-2;
    transform: skewY(-4deg);
    background: #0ACFFE; /* Old browsers */
    background: -moz-linear-gradient(left, #0ACFFE 0%, #ff9a44 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #0ACFFE 0%,#ff9a44 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #0ACFFE 0%,#495AFF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#head_background{
  position:absolute;
  top:0;
  z-index:-1;
  width:100%;
}

#landing_block{
  background-size: 200px 600px;
  height: 1100px;
  position: relative;
  margin-top:20vh;
  margin-left:3vw;
  /*z-index:10;*/
  /*display:block;*/
  
  /*why background image does not show up?whywhywhy///*/
  /*background: top left no-repeat url("../../static/rent/image/background.svg");*/
}

.process_text{
  position:absolute;
  opacity:0;
}

#process_text_1{
  top:23%;
  left:3vw;
  animation-delay: 0.2s;
}

#process_text_2{
  top:56%;
  left:35vw;
  /*animation-delay: 0.4s;*/
}

#process_text_3{
  top:92%;
  left:3vw;
  /*animation-delay: 0.6s;*/
}

#process_text_4{
  top:125%;
  left:35vw;
  /*animation-delay: 0.8s;*/
}

.process_text h2{
  font-size:2.7rem;
  color:#1E90FF;
  line-height:1.5;
}

.process_img{
  height: 100px;
}

#process_background{
  position:absolute;
  width:100%;
  height:1800px;
}

#process_img_1{
  position:absolute;
  top:20vh;
  left:40vw;
}

#process_img_2{
  position:absolute;
  height:150px;
  top:70vh;
  left:15vw;
}

#process_img_3{
  position:absolute;
  top:130vh;
  left:50vw;
  height: 200px;
}

#process_img_4{
  position:absolute;
  top:190vh;
  left:15vw;
  height:160px;
}

.circle{
  position:absolute;
  opacity:0;
  z-index: 10;
  height:25px;
  width:25px;
  display:block;
  border-radius: 50%;
  background-color:#FA3877;
  border: 6px solid #FFADC8;
}

#circle_1{
  top: 340px;
  left: 800px;
}

#circle_2{
  top: 720px;
  left: 130px;
}

#circle_3{
  top: 1070px;
  left: 800px;
}

.on_1{
  animation: circle_1 3.2s forwards;
  animation-delay: 200ms;
  opacity:0;
}

.on_2{
  animation: circle_2 3.2s forwards;
  animation-delay: 500ms;
  opacity:0;
}

.on_3{
  animation: circle_3 3.2s forwards;
  animation-delay: 500ms;
  opacity:0;
}



.show{
  opacity:1;
}

@keyframes circle_1{

0% {
    top: 340px;
    right: 800px;
    opacity:0;
  }
  
10%{
  opacity:1;
}  
  
65%{
  opacity:1;
}  

68%{
  opacity:0;
}
  
100% {
    transform: translate(-680px, 370px);
    opacity:0;
  }
}

@keyframes circle_2{

0% {
    top: 720px;
    right: 130px;
    opacity:0;
  }
  
10% {
    opacity:1;
  }
  
65%{
  opacity:1;
}  

68%{
  opacity:0;
}
  
100% {
    transform: translate(640px, 360px);
    opacity:0;
  }
} 

@keyframes circle_3{

0% {
    top: 1070px;
    right: 800px;
    opacity:0;
  }
  
10%{
  opacity:1;
}
  
80%{
  opacity:1;
}  

83%{
  opacity:0;
}
  
100% {
    transform: translate(-660px, 355px);
    opacity:0;
  }
} 

#landing_bottom_background{
    content: " ";
    display: block;
    width: 100%;
    height: 1200px;
    position: absolute;
    bottom:-1300px;
    left: 0;
    z-index:-2;
    transform: skewY(-4deg);
    background: #0ACFFE; /* Old browsers */
    background: -moz-linear-gradient(left, #0ACFFE 0%, #495AFF 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #0ACFFE 0%,#495AFF 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #0ACFFE 0%,#495AFF 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.cards{
    height:200px;
    background:#fff;
    border-radius:3px;
    -webkit-box-shadow: 0px 5px 14px 0px rgba(2,116,227,1);
    -moz-box-shadow: 0px 5px 14px 0px rgba(2,116,227,1);
    box-shadow: 0px 5px 14px 0px rgba(2,116,227,1);
}

#quote p{
  display:inline-block;
  text-align:left;
  margin:20px 10px 35px 10px;
}

#quote p.name{
  color:#1E90FF;
  margin: 0;
}

#quote img{
  float:left;
  height:50px;
  margin:0 0 0 10px;
}

#quotemark{
  z-index:-2;
  position:absolute;
  left:8vw;
  margin-top:-8vh;
}

.nav_footer{
  clear:both;
  margin-top:250px;
  display:block;
  color:#fff;
  margin-bottom:50px;
}

.nav_footer ul{
  margin:0;
  padding:0;
  overflow:hidden;
  display:block;
}

.nav_footer ul li{
  display:inline-block;
  vertical-align:text-top;
  margin-bottom:10px;
}

.nav_footer ul li ul{
  display:list-item;
  margin-top:10px;
}

.nav_footer ul li ul li{
  display:list-item;
  float:none;
}

@media (max-width: 480px) { 
  .a-response {
    width: 260px !important;

  }
    
    #circle_1{
        display: none;
    }
    
    #circle_2{
        display: none;
    }
    
    #circle_3{
        display: none;
    }
    
    #progress_background{
        display: none;
    }
    
    #process_text_2{
        left:0px;
    }
    
     #process_text_4{
        left: 0;
    }
    
    #card_2{
        margin: auto;
    }

}

@media only screen and (max-width: 768px) {   
  .a-response {
    width: 260px !important;
  }
    
  .profile-content-container {
    width: 100%;
    text-align: center;
  }
  .profile-info-container {
    display: block;
  }
  
    #circle_1{
        display: none;
    }
    
    #circle_2{
        display: none;
    }
    
    #circle_3{
        display: none;
    }
    
    #process_background{
        display: none;
    }
    
    #process_text_2{
        left:0px;
    }
    
     #process_text_4{
        left: 0;
    }
    
    #card_2{
        margin: auto;
    }
}

@media only screen and (max-width: 992px) {
  #circle_1{
        display: none;
    }
    
    #circle_2{
        display: none;
    }
    
    #circle_3{
        display: none;
    }
    
    #process_background{
        display: none;
    }
    
    #process_text_2{
        left: 0px;
    }
    
     #process_text_4{
        left: 0;
    }
    
    #card_2{
        margin: auto;
    }
}


@media only screen and (max-width: 1300px) {
  #circle_1{
        display: none;
    }
    
    #circle_2{
        display: none;
    }
    
    #circle_3{
        display: none;
    }
    
/*
    #process_text_2{
        left: 0;
    }
    
     #process_text_4{
        left: 0;
    }
*/

}


@media only screen and (min-width: 768px) {
  .a-response {
    width: 260px !important;
  }
  
}

@media only screen and (min-width: 992px) {
  .a-response {
    width: 150px !important;

  }
}

@media only screen and (min-width: 1300px) {
  .a-response {
    width: 200px !important;

  }
}